* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    border: 1px solid #ccc;
}

.post h2 {
    margin: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e8bff;
}

.filter {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter input {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    transition: 500ms ease all;
}

.sidebar{
    width: 20%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 1rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    transition: 500ms ease all;
}

.sidebar li:hover {
    background-color: #3e8bff;
    color: #fff;
}

.sidebar li a {
    text-decoration: none;
    color: #000;
}

.sidebar li a:hover {
    color: #fff;
}

.sidebar li.active {
    background-color: #3e8bff;
    color: #fff;
}

.sidebar li.active a {
    color: #fff;
}

.sidebar li.active a:hover {
    color: #fff;
}

.sidebar li.active:hover {
    background-color: #3e8bff;
    color: #fff;
}

.sidebar li.active:hover a {
    color: #fff;
}

.sidebar li.active:hover a:hover {
    color: #fff;
}

.posts {
    width: 40%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}