* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    height: 100vh;
    background: linear-gradient(to bottom right, #3e8bff, #9e29ff);
    overflow: hidden;
}

.flex-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.template{
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background: #fff;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
}

.form h2{
    font-size: 2rem;
    font-weight: 400;
    color: #3e8bff;
}

.form p{
    font-size: 1rem;
    font-weight: 400;
    color: #3e8bff;
}

.form input{
    width: 100%;
    height: 2rem;
    border: 1px solid #3e8bff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.form button{
    width: 100%;
    height: 2rem;
    border: 1px solid #3e8bff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: #3e8bff;
    color: #fff;
}

.form textarea{
    width: 100%;
    height: 2rem;
    border: 1px solid #3e8bff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.form select{
    width: 100%;
    height: 2rem;
    border: 1px solid #3e8bff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}