* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --secondary: #2ecc71;
    --error: #ce0606;
    --success: #2ecc71;
    --nav: #333333;
    --white: #ffffff;
    --black: #000000;
    --input: #d6d6d6;
    --r1: 0.1rem;
    --r2: 0.2rem;
    --r3: 0.5rem;
    --r4: 1rem;
    --r5: 2rem;
    --r5: 3rem;
    --font: 'Roboto', sans-serif;
    --fontSize: 1rem;
}